@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: content-box;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageModal {
    width: 20rem;
    height: 29rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.6rem auto 0.3rem;
}

.profilePicture {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: block;
    margin: 0 auto;
    position: relative;
    top: -6.7rem;
}

.cardContainer {
    margin: 0 1rem;
    /* border: 1px solid green; */
    flex: 1;
    max-width: 25rem;
    padding: 0;
}

.card {
    padding: 1.1rem;
    margin: 9rem auto 1.2rem;
    position: relative;
    text-align: center;
    border-radius: 0.7rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
    background-color: #fff;
    width: 22rem;
    height: 14.5rem;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 80%);
    width: 22.3rem;
    height: 15rem;
    margin: 7.5rem auto 0.8rem;
    transition: 0.2s;
}

.textBox {
    padding: 12px;
    text-align: center;
    position: relative;
    top: -6rem;
    background-color: #fff;
    border-radius: 5;
}

.text {
    font-family: 'Montserrat', sans-serif;
}