.landingImage {
    height: 90vh;
}

.homeLandingContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.stack {
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
    .stack{
        width: 31%;
    }
}
@media screen and (max-width: 700px) {
    .stack{
        flex-wrap: wrap;
    }
}

@media (max-width: 560px) {
    .stack {
        flex-direction: column;
        width: 100%;
    }
}