@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Roboto:wght@100;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

.homeLandingContainer {
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;

    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('./telaIndependencia.jpg');
    background-position:center top;
    background-size:cover;
}


.homeLandingContainer h1{
    font-size: 5em;
    font-weight: bold;

    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.homeLandingContainer p{
    font-size: 2em;
    font-weight: 300;
}

.btn {
    margin: 20px;
    padding: 15px 15px;
    font-size: 1.5em;
    border-radius: 50px;
    border: 1px;
    background-color: #212121;
    color: #fff;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    background-color: #01873B;
    color: #FCB805;
}

.homeContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.landingImage{
    margin-left: 20px;
    height: 70vh;
    width: 50%;
    border-radius: 10px;

    background-image: url('./rioLandscape.jpg');
    background-position: center top;
    background-size: cover;
}

.homeLandingWhatIs{
    width: 50%;
    height: 70vh;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ECF0F1;

}

.homeLandingWhatIs h3{
    font-size: 3.5em;
    text-align: center;
    padding-bottom: 20px;
}

.homeLandingWhatIs p{
    font-size: 1.25em;
    text-align: justify;
}

.homeParticipate {
    background-image: url('starBackground.jpg');
    background-position:center top;
    background-size:cover;

    height: 100vh;
    padding: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.homeParticipateCard{
    color:  #fff;
    background: rgba(255, 255, 255, 0.067);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1em;
    padding: 30px 20px;
}

.homeParticipate h3{
    font-size: 3em;
    padding-bottom: 20px;
}

.homeParticipate p{
    font-weight: thin;
    font-size: 1.5em;
    line-height: 1.5em;
}