@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Roboto:wght@100;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
 
.rulesCard {
    width: 60%;
    height: auto;
    padding: 20px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fefefe;
    border-top: 5px #002443 solid;
}

.rulesCard span {
    font-weight: 500;
}

.rulesCategories {
    margin: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.homeLandingContainer {
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;

    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('./telaIndependencia.jpg');
    background-position:center top;
    background-size:cover;
}

.rulesContainer {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    display: flex;
    flex-direction: column;
    background-color: #ECF0F1;
}

.flexBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    margin: 0.5rem auto;
}

.freeCost, .independentSignIn, .rulesFases {
    flex-direction: row;
}

.iconCard {
    width: 128px;
    height: 128px;
    margin: 1rem;
}

a.linkFase {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: #000;
    flex: 1;
    margin: 0 1rem;
}

.linkFase h3 {
    margin-bottom: 0.5rem;
}

.homeLandingContainer h1{
    font-size: 5em;
    font-weight: bold;

    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.homeLandingContainer p{
    font-size: 2em;
    font-weight: 300;
    padding: 20px;
}

.btn {
    margin: 20px;
    padding: 15px 15px;
    border-radius: 45px;
    border: 1px;
    background-color: #212121d0;
    color: #f9f9f9;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn p{
    padding: 0;
    font-size: 1.7em;
    letter-spacing: 2px;
}

.btn:hover {
    transform: scale(1.1);
    transform: translateY(-7px);
    transition: all 250ms ease-in-out;
    background-color: #212121;
    box-shadow: 0px 15px 20px rgba(58, 229, 46, 0.4);
}

.homeContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}

.landingImage{
    margin-left: 20px;
    height: 70vh;
    width: 50%;
    border-radius: 10px;

    background-image: url(https://www.gov.br/pt-br/campanhas/bicentenario/Bicentenrio.png/@@images/06e6dc8a-b55a-414a-82dd-8966dbdafeb6.png);
    background-position: center top;
    background-size: cover;
}

.homeLandingWhatIs{
    width: 50%;
    height: 70vh;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ECF0F1;

}

.homeLandingWhatIs h3{
    font-size: 3.5em;
    text-align: center;
    padding-bottom: 20px;
}

.homeLandingWhatIs p{
    font-size: 1.25em;
    text-align: justify;
}

.homeParticipate {
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7) ), url('starBackground.svg');
    background-position:center top;
    background-size:cover;
    height: fit-content;
    padding: clamp(0.5rem,2vh,40rem);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.homeParticipateCard{
    color:  #fff;
    background: rgba(255, 255, 255, 0.067);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1em;
    height: fit-content;
    padding: 30px 20px;
}

.homeParticipateCard h3{
    font-size: 3em;
    padding-bottom: 20px;
}

.homeParticipateCard p{
    font-weight: thin;
    font-size: 1.5em;
    line-height: 1.5em;
}

.timelineInitialText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 10%;
}

.timelineInitialText h2{
    font-size: 3em;
    padding-bottom: 20px;
}

.rulesContainer h2{
    font-size: 3em;
    margin: 2rem auto;
}

.timelineInitialText p{
    font-size: 1em;
}

.rulesContainer p{
    font-size: 1em;
}

.timelineContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline{
    margin: 0 15%;
}

.timelineContent{
    text-align: center;
    padding: 20px 0;
}

.timelineContent br{
    display: block;
    content: "";
    margin: 0px;
}

.timelineContent h3{
    font-size: 2.5em;
    color: #fff;
}

.timelineContent h4{
    font-size: 1em;
    color: #fff;
}

.timelineInformation{
    background: #fff;
    padding: 10px 10px;
    color: #aaa;
    font-weight: 700;
    margin: 10px 0;
}

.regulation{
    margin: 3rem;
}

.regulation .btn{
    background: #fff;
    color: #212121;
    border: 1px solid #212121;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (min-width: 900px) and (max-width: 1150px){
    .homeLandingWhatIs h3{
        font-size: 2.5em;
    }

    .homeLandingWhatIs p{
        font-size: 1em;
    }

    .timeline{
        margin: 5%;
    }

    .rulesCategories {
        margin: 1.5rem 1rem;
    }
}

@media screen and (min-width: 767px) and (max-width: 900px){
    .homeLandingWhatIs h3{
        font-size: 2em;
    }

    .homeLandingWhatIs p{
        font-size: 1em;
    }

    .timelineInitialText{
        margin: 70px 30px 30px 30px;
    }

    .timeline{
        margin: 0;
    }
    
    .rulesCategories {
        margin: 1.5rem 1rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px){
    .homeLandingContainer h1{
        font-size: 3em;
    
        text-shadow: 
        0 .5px 0 #ccc, 
        0 1px 0 #c9c9c9, 
        0 1.5px 0 #bbb, 
        0 2px 0 #b9b9b9, 
        0 2.5px 0 #aaa, 
        0 3px .5px rgba(0,0,0,.1), 
        0 0 2.5px rgba(0,0,0,.1), 
        0 .5px 1.5px rgba(0,0,0,.3), 
        0 1.5px 2.5px rgba(0,0,0,.2), 
        0 2.5px 5px rgba(0,0,0,.25), 
        0 5px 5px rgba(0,0,0,.2), 
        0 10px 10px rgba(0,0,0,.15);
    }

    .homeLandingContainer p{
        font-size: 1em;
        padding-top: 20px;
    }

    .btn p{
        font-size: 1em;
        padding: 0;
    }

    .homeContent{
        flex-direction: column;
    }

    .landingImage{
        width: 90%;
        height: 50vh;
        margin: 20px;
    }

    .homeLandingWhatIs{
        width: 90%;
        height: fit-content;
    }

    .flexBox{
        align-items: center;
        flex-direction: column;
    }
    
    .rulesCategories {
        margin: 0 auto 0.5rem;
    }

    .iconCard {
        width: 110px;
        height: 110px;
    }

    .freeCost {
        flex-direction: column-reverse;
        width: 100%;
    }

    .independentSignIn, .rulesFases {
        flex-direction: column;
        width: 100%;
    }

    .homeLandingWhatIs h3{
        font-size: 2.5em;
    }

    .homeLandingWhatIs p{
        font-size: 1em;
    }

    .homeParticipateCard{
        width: 65vh;
    }

    .homeParticipateCard h3{
        font-size: 1.75em;
        line-height: 1.25em;
    }

    .homeParticipateCard p{
        font-size: .8em;
    }

    .timelineInitialText{
        margin: 70px 10px 30px 10px;
    }
    .timelineInitialText h2{
        font-size: 2em;
    }
    
    .rulesContainer h2{
        font-size: 5vh;
    }
    
    .rulesContainer h3{
        font-size: 3vh;
    }
    
    .rulesContainer p{
        font-size: 2vh;
    }

    .timelineInitialText p{
        font-size: .75em;
    }

    .timeline{
        margin: 0;
    }

    .timeline h3{
        font-size: 2em;
    }

    .timeline h4{
        font-size: 0.75em;
    }

    .timeline p{
        font-size: 0.75em;
    }

    .regulation h3{
        font-size: .75em;
    }

    .regulation {
        margin: 2rem 0 4rem;
    }
}

@media screen and (max-width: 500px){
    .homeLandingContainer h1{
        font-size: 4vh;
    
        text-shadow: 
        0 .5px 0 #ccc, 
        0 1px 0 #c9c9c9, 
        0 1.5px 0 #bbb, 
        0 2px 0 #b9b9b9, 
        0 2.5px 0 #aaa, 
        0 3px .5px rgba(0,0,0,.1), 
        0 0 2.5px rgba(0,0,0,.1), 
        0 .5px 1.5px rgba(0,0,0,.3), 
        0 1.5px 2.5px rgba(0,0,0,.2), 
        0 2.5px 5px rgba(0,0,0,.25), 
        0 5px 5px rgba(0,0,0,.2), 
        0 10px 10px rgba(0,0,0,.15);
    }
    
    .homeLandingContainer p{
        font-size: .8em;
        padding-top: 20px;
    }

    .btn{
        padding: 10px 15px;
    }

    .btn p{
        font-size: .7em;
        padding: 0;
    }

    .homeContent{
        flex-direction: column;
    }

    .landingImage{
        width: 90%;
        height: 50vh;
        margin: 20px;
    }

    .homeLandingWhatIs{
        width: 90%;
        height: fit-content;
    }

    .homeLandingWhatIs h3{
        font-size: 3.5vh;
    }

    .homeLandingWhatIs p{
        font-size: .75em;
    }

    .homeParticipateCard{
        width: 100%;
    }

    .homeParticipateCard h3{
        font-size: 3vh;
        line-height: 1.25em;
    }

    .homeParticipateCard p{
        font-size: 2vh;
    }

    .timelineInitialText{
        margin: 70px 20px 30px 20px;
    }

    .timelineInitialText h2{
        font-size: 4vh;
    }
    
    .rulesContainer h2{
        font-size: 4vh;
    }

    .rulesContainer h3{
        font-size: 3vh;
    }

    .timelineInitialText p{
        font-size: 2vh;
    }

    .timeline{
        margin: 0;
    }

    .timelineContent{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .timelineInformation{
        margin: 0;
    }

    .timeline h3{
        font-size: 3vh;
    }

    .flexBox{
        align-items: center;
        flex-direction: column;
    }
    
    .rulesCategories {
        margin: 0 auto 0.5rem;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .freeCost {
        flex-direction: column-reverse;
        width: 100%;
    }

    .independentSignIn, .rulesCategories {
        flex-direction: column;
        width: 100%;
    }

    .timeline h4{
        font-size: 1.5vh;
    }

    .timeline p{
        font-size: 1.3vh;
    }

    .regulation h3{
        font-size: .75em;
    }

    .regulation {
        margin: 2rem 0 4rem;
    }

    .rulesContainer h2{
        font-size: 4vh;
    }
    
    .rulesContainer h3{
        font-size: 2.3vh;
    }
    
    .rulesContainer p{
        font-size: 2vh;
    }
    
    .iconCard {
        width: 90px;
        height: 90px;
    }

    a.linkFase {
        margin: 1rem auto;
    }
}